In [8]:
## Exercise 1 - Create a markdown cell of the notebook
# Introduction to Data Science: A Comprehensive Jupyter Notebook

In [9]:
## Exercise 2 - Create a markdown cell with the title of the notebook
# Introduction to Data Science: A Comprehensive Jupyter Notebook

In [10]:
## Exercise 3 - Create a markdown cell with the intro of the notebook
# Introduction to Data Science: A Comprehensive Jupyter Notebook

In [11]:
## Exercise 4 - Create a markdown cell to list data science Languages
### Data Science Languages:
#1. Python
#2. R
#3. SQL
#4. Julia
#5. Scala

In [12]:
## Exercise 5 - Create a markdown cell to list data science Libraries
### Data Science Libraries:
#1. NumPy
#2. Pandas
#3. Matplotlib
#4. Seaborn
#5. Scikit-Learn
#6. TensorFlow
#7. Keras

In [13]:
## Exercise 6 - Create a markdown cell with a table of Data Science tools
#| Tool | Description |
#|------|-------------|
#| Jupyter Notebook | Interactive computing environment |
#| RStudio | IDE for R programming |
#| Apache Spark | Big data processing engine |
#| TensorFlow | Machine Learning framework |
#| Power BI | Data visualization tool

In [7]:
## Exercise 7 - Create a markdown cell introducing arithmetic expression examples
### Arithmetic Expression Examples:
#Below are examples of arithmetic operations such as addition and multiplication.

In [ ]:
## Exercise 8 - Create a code cell to multiply and add numbers
#
`python
# Multiplication and Addition Example
result = (5 * 4) + 10
print ("The result of (5 * 4) + 10 is:", result)

In [ ]:
#python
#Convert minutes to hours
minutes = 120
ours = minutes / 60
print (f"{minutes} minutes is equal to {hours} hours")

In [ ]:
## Exercise 10 - Insert a markdown cell to list Objectives
### Objectives:
#-List programming languages used in Data Science
#-Identify important libraries for Data Science
#-Perform basic arithmetic operations
#-Convert time units in Python
#-Share work through GitHub

In [ ]:
# 11. About the Author
print(" #author name: Varsha M")