In [42]:
## Exercise 1 - Create a markdown cell of the notebook
print("""# Introduction to Data Science: A Comprehensive Jupyter Notebook""")

# Introduction to Data Science: A Comprehensive Jupyter Notebook

In [41]:
## Exercise 2 - Create a markdown cell with the title of the notebook
print("""# Introduction to Data Science: A Comprehensive Jupyter Notebook""")

# Introduction to Data Science: A Comprehensive Jupyter Notebook

In [40]:
## Exercise 3 - Create a markdown cell with the intro of the notebook
print("""# Introduction to Data Science: A Comprehensive Jupyter Notebook""")

# Introduction to Data Science: A Comprehensive Jupyter Notebook

In [39]:
## Exercise 4 - Create a markdown cell to list data science Languages
print("""### Data Science Languages:
#1. Python
#2. R
#3. SQL
#4. Julia
#5. Scala""")

### Data Science Languages:
#1. Python
#2. R
#3. SQL
#4. Julia
#5. Scala

In [38]:
## Exercise 5 - Create a markdown cell to list data science Libraries
print("""### Data Science Libraries:
#1. NumPy
#2. Pandas
#3. Matplotlib
#4. Seaborn
#5. Scikit-Learn
#6. TensorFlow
#7. Keras""")

### Data Science Libraries:
#1. NumPy
#2. Pandas
#3. Matplotlib
#4. Seaborn
#5. Scikit-Learn
#6. TensorFlow
#7. Keras

In [37]:
## Exercise 6 - Create a markdown cell with a table of Data Science tools
print("""#| Tool | Description |
#|------|-------------|
#| Jupyter Notebook | Interactive computing environment |
#| RStudio | IDE for R programming |
#| Apache Spark | Big data processing engine |
#| TensorFlow | Machine Learning framework |
#| Power BI | Data visualization tool""")

#| Tool | Description |
#|------|-------------|
#| Jupyter Notebook | Interactive computing environment |
#| RStudio | IDE for R programming |
#| Apache Spark | Big data processing engine |
#| TensorFlow | Machine Learning framework |
#| Power BI | Data visualization tool

In [36]:
## Exercise 7 - Create a markdown cell introducing arithmetic expression examples
print("""Arithmetic Expression Examples:
#Below are examples of arithmetic operations such as addition and multiplication.""")

Arithmetic Expression Examples:
#Below are examples of arithmetic operations such as addition and multiplication.

In [35]:
## Exercise 8 - Create a code cell to multiply and add numbers
#python
# Multiplication and Addition Example
result = (5 * 4) + 10
print ("The result of (5 * 4) + 10 is:", result)

The result of (5 * 4) + 10 is: 30

In [34]:
#python
#Convert minutes to hours
minutes = 120
hours = minutes / 60
print (f"{minutes} minutes is equal to {hours} hours")

120 minutes is equal to 2.0 hours

In [33]:
## Exercise 10 - Insert a markdown cell to list Objectives
### Objectives:
print("""-List programming languages used in Data Science
-Identify important libraries for Data Science
-Perform basic arithmetic operations
-Convert time units in Python
-Share work through GitHub """)

-List programming languages used in Data Science
-Identify important libraries for Data Science
-Perform basic arithmetic operations
-Convert time units in Python
-Share work through GitHub

In [29]:
# 11. About the Author
print(" #author name: Varsha M")

 #author name: Varsha M